[**.js]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
quote_type = single
spaces_around_brackets = both
trim_trailing_whitespace = true
insert_final_newline = true

[**.css]
indent_style = space
indent_size = 2
