@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  background: #fafcfe !important;
  user-select: none;
  --mdc-theme-primary: #F89808;
  --mdc-theme-secondary: #F89808;
  --mdc-theme-on-primary: #000;
}

*:focus {
  outline: none!important;
}

.drag-toolbar {
  height: 38px;
  width: 100%;
  -webkit-app-region: drag;
}

.toa-toolbar {
  position: relative;
  z-index: 100;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-align-items: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 30px;
  -webkit-app-region: drag;
  margin: 0;
  padding-left: 80px;
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 45px);
  direction: ltr;
  height: inherit;
  position: absolute;
  right: 0%; /* for button on right side, `right:0%;` (also, it threw a pseudoType error when using `0`) */
}

.mdc-top-app-bar__section--align-end #window-controls .button {
  height: 38px;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: default;
  color: var(--mdc-theme-on-primary, #000);
  -webkit-app-region: no-drag;
}

#window-controls .button svg {
  fill: currentColor;
}

#window-controls #logout-button {
  grid-column: 1;
}

#window-controls #min-button {
  grid-column: 2;
}

#window-controls #close-button {
  grid-column: 3;
}

#window-controls .button:hover {
  background: rgba(0, 0, 0, 0.1);
}

#window-controls #close-button:hover {
  background-color: #e81123;
  color: #fff!important;
}

.mdc-top-app-bar, .toa-toolbar {
  position: fixed;
  top: 0;
}

.mdc-top-app-bar-sync-green {
  background: #388e3c!important;
  --mdc-theme-on-primary: #fff;
}

.mdc-top-app-bar-sync-red {
  background: #dc3545!important;
  --mdc-theme-on-primary: #fff;
}

.mdc-top-app-bar__row {
  height: 56px!important;
}

.mdc-top-app-bar__section {
  padding: 4px!important;
}

.mdc-top-app-bar__title {
  text-transform: uppercase;
  font-family: Roboto Mono, serif;
  font-weight: 400;
  color: var(--mdc-theme-on-primary, #000);
}

.main-content {
  margin-top: 38px;
  padding: 20px;
}

h2 {
  margin-top: 0;
}

.mdc-card {
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(42, 55, 71, 0.15)!important;
}

.mdc-line-ripple--active {
  display: none!important;
}

.card__title {
  margin: 0;
}

.card__secondary, .card__subtitle {
  color: rgba(0, 0, 0, 0.54);
}

.card__primary {
  padding-bottom: 1rem;
}

.card__subtitle {
  margin: 0;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary)!important;
}

.center-spin {
  display: flex;
  margin-top: 56px;
  height: calc(100vh - 56px);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.center-spin .spinner-border, .center-spin .spinner-grow {
  width: 3rem;
  height: 3rem
}

.mdc-top-app-bar__icon {
  color: var(--mdc-theme-on-primary, #000);
  display: flex;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 12px;
  border: none;
  outline: none;
  background-color: transparent;
  fill: currentColor;
  text-decoration: none;
}

.sync-page .mdc-card .mdc-list-item__meta.mdc-button {
  width: 100px;
  flex: none;
}

.mdc-tab {
  text-transform: unset!important;
}

.mdc-card {
  border-radius: 10px!important;
}

.red-card {
  background: #ffe9eb!important;
  color: #dc3545!important;
  --mdc-theme-primary: #dc3545!important;
}

.red-card .mdi {
  color: #dc3545!important;
}

.mdi, .mdi:before {
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 1;
}

.twitch-chip, .twitch-chip .mdc-chip__icon--leading {
  background-color: #DFC9FF!important;
  color: #000!important;
}

.youtube-chip, .youtube-chip .mdc-chip__icon--leading {
  background-color: #FFBAB9 !important;
  color: #000!important;
}

label {
  margin-bottom: 0!important;
}

/*
.login-bottom {
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.login-bottom .mdc-card {
  border-radius: 50px 50px 0 0!important;
  padding: 3rem;
}
*/

.login-content .mdc-button {
  border-radius: 18px;
  background-color: #2295F3!important;
  color: white!important;
  font-weight: 500!important;
  font-size: 0.8rem!important;
  padding: 0 12px!important;
  height: 42px;;
}

.login-content .mdc-text-field {
  height: 44px;
}

.white-fab {
  color: #000!important;
  box-shadow: 0 4px 8px 0 rgba(42, 55, 71, 0.15)!important;
  background-color: rgba(255, 255, 255, 0.85)!important;
}

.white-fab:disabled {
  color: rgba(0, 0, 0, 0.35) !important;
  background-color: rgba(255, 255, 255, 0.25)!important;
}

.setup-event-select {
  padding-top: 13px!important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link {
  text-decoration: underline!important;
  cursor: pointer;
}
